.contact-container{
    width: 40%;
    margin: auto;

    .cText{
        margin-bottom: 2rem;
    }
}

.contactUSForm {
    font-size: 0.8rem;
    label {
        margin-top: 1rem;
    }

    input, select{
        padding: 8px 12px;
    }

    button {
        margin-top: 2rem;
        padding: 8px;
        color: $c2;
        background-color: $c6;
        border: 1px solid $c1;
        border-radius: 10px ;
        font-size: 1rem;
    }

    .question{
        padding:1rem;
        min-height: 6rem;
    }


}

#result{
    color: $c6;
    padding: 1rem 0;
}

#result .form-ok{
    color:$c1;
    padding: 1rem 0;
}