.itemCount {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a c" "b c";
    justify-content: start;
    width: 11rem;
    
    &__bt {
        grid-area: a;
        width: 3rem;
        padding: 2px 0;
        border-radius: 10px 0 0 0;
        border: solid 1px #121212;
        border-bottom: none;
        cursor:pointer;
        background-color: $c8;
        font-size: 1.4rem;
        justify-self: end;
        &:active{
            background-color: rgb(214, 214, 214);
        }
    }
    &__bd {
        grid-area: b;
        width: 3rem;
        padding: 2px 0;
        border-radius:  0 0 0 10px;
        border: solid 1px #121212;
        cursor:pointer;
        background-color: $c8;
        font-size: 1.6em;
        justify-self: end;
        &:active{
            background-color: rgb(214, 214, 214);
        }
    }
    &__counter {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        grid-area: c;
        width: 8rem;
        background-color: white;;
        padding: 2px 0;
        font-size: 1.2rem;
        border-radius:  0 10px 10px 0;
        border: solid 1px #121212;
        border-left: none;
        text-align: center;
        .counter{
            text-align: center;
        }
    }
}

.addToCartBtn {
    width: 10rem;
    padding: 8px 0;
    margin-bottom:  1rem;
    color: $c2;
    border: solid 1px #121212;
    border-radius: 6px;
    background-color: $c6;
    cursor:pointer;
    &:active{
        background-color: rgb(214, 214, 214);
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem;
    border: solid 2px #121212;
    border-radius: 3px;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2);
}