// colors
$c1: black;
$c2: white;
$c3: #222222;
$c4: #888888;
$c5: #bf071f;
$c6: #fa0b2b;
$c7: #e6e6e6;
$c8: #bebebe;
$c9: #F5F5F5;

//margin and padding
$p-1: 1em;
$m-1: 1em;

// display
$d-flex: flex; //tranforma bloque en linea

// sizing
$w-25: 25%;
$w-50: 50%;